.info-panel {
  position: fixed;
  width: 240px;
  background-color: rgba(217, 225, 229, .8);
  bottom: -10px;
  left: calc(50% - 120px);
  padding: 10px 15px;
  z-index: 99;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(170,170,170,1);
  -moz-box-shadow: 10px 10px 5px -6px rgba(170,170,170,1);
  box-shadow: 10px 10px 5px -6px rgba(170,170,170,1);
  text-align: center;
  @include transform(translate(0, 100%));
  @include transition(200ms linear all);

  &.in  {
    bottom: 30px;
    @include transform(translate(0, 0));
  }

  h4 {
    margin: 0;
  }

  p {
    margin: 5px 0 0 0;
  }
}